h1{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 07;

    
}
li{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
p{
    color: gold;
    font-size: medium;
}
body{
    background-color: black;
}
h2{
    color: gold;
}